@model Bookstore.Common.Dto.BookDto

<section>
    <div class="main">
        <div class="main__image">
            <img class="main__img" src="~/img/books/@Model.Img" alt="img" />
        </div>
        <div class="main__text">
            <div>

            </div>
            <h1 class="main__title">@Model.Name</h1>
            <p class="main__decs"><span class="book__characteristics">Автор:</span>  @Model.Author.Surname @Model.Author.Name @Model.Author.Patronymic</p>
            <p class="main__decs"><span class="book__characteristics">Жанр:</span>  @Model.Genre</p>
            <p class="main__decs"><span class="book__characteristics">Издательство:</span>  @Model.PublishingOffice.Name @Model.PublishingOffice.Address</p>
            <p class="main__decs"><span class="book__characteristics">Язык:</span>  @Model.Language</p>
            <p class="main__decs"><span class="book__characteristics">Обложка:</span>  @Model.AboutBook.Cover</p>
            <p class="main__decs"><span class="book__characteristics">Описание:</span>  @Model.AboutBook.Description</p>
            <p class="main__decs"><span class="book__characteristics">Вес:</span>  @Model.AboutBook.Weight</p>
            <p class="main__decs"><span class="book__characteristics">Возростной лемит:</span>  @Model.AboutBook.AgeLimit</p>
            <p class="main__decs"><span class="book__characteristics">Год выпуска:</span>  @Model.AboutBook.PublicationYear</p>
            <div class="main__buttoms">
                <a class="main__btn main__btn_gradient" href="#">Купить сейчас</a>
                <form asp-controller="Home" asp-action="AddBusket" method="post" asp-route-id="@Model.Id">
                    <input class="card__link" type="submit" value="Добавить в корзину" />
                </form>
            </div>
            <ul class="main__list">
                <li class="main__item"><span class="main__span">4.7</span>Рейтинг</li>
                <li class="main__item"><span class="main__span">99.4%</span>Доставок вовремя</li>
                <li class="main__item"><span class="main__span">0%</span>Товаров с дефектами</li>
            </ul>
        </div>

    </div>
</section>