@model IEnumerable<Bookstore.Common.Dto.BookDto>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <section>
            <h2 class="title">Крижный магазин</h2>
            <p class="desc">Более тысячи книг и журналов</p>
            <div class="card">
                @foreach (var item in Model)
                {
                <div class="card__item">
                    <div class="card__cover">
                        <img class="card__img" src="~/img/books/@item.Img" alt="@item.Name" />
                    </div>
                    <div class="card__info">
                        <div>
                            <p class="card__book">@item.Name</p>
                            <p class="card__nick">@item.Author.Surname @item.Author.Name @item.Author.Patronymic</p>
                        </div>
                        <p class="text__price">Текущая цена<span class="card__price">@item.CostBook.Price</span></p>
                    </div>
                    <div class="card__b">

                        <a asp-action="AboutBook" asp-controller="Home" asp-route-id="@item.Id" class="card__link">Больше информации</a>
                        <form asp-controller="Home" asp-action="AddBusket" method="post" asp-route-id="@item.Id">
                            <input class="card__link button-len" type="submit" value="Добавить в корзину" />
                        </form>
                    </div>
                    </div>
                    }
                </div>
        </section>
    </div>
</body>

